@media only screen and (max-width: 900px) {
  $big: 70px;
  $medium: 30px;
  $small: 18px;
  $xsmall: 14px;

  p{
    font-size: $xsmall;
  }

  h2{
    font-size: $small;
  }

  ul, li{
    font-size: $xsmall;
  }

  .marquee {
    font-size: $big;
  }

  .hero{
    margin-top: 80px;
    height: auto;
  }
    
  .collapsible{
    margin: 14px 0;
    .trigger{
      font-size: $medium;
    }
    .collapsible-content{
      flex-direction: column;
      .column{
        width: 100%;
        margin-bottom: 0;
        img{
          margin-top: 14px;
          width: 100%;
          height: 100%;
          max-height: 85vh;
          object-fit: cover;
        }
      }
    }
    &.open{
      .collapsible-content{
        height: auto;
        opacity: 1;
      }
    }
  }
  footer{
    p{
      font-size: $small;
    }
  }
}