$red: #c22520;
$grey: #bebebe;

$big: 90px;
$medium: 40px;
$small: 24px;

*{
  box-sizing: border-box;
}

body{
  color: $red;
  background-color: $grey;
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  width: 100vw;
  overflow-x: hidden;
  font-size: $small;
}

.hero{
  width: 100vw;
  height: 75vh;
  margin-top: 100px;
  video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    // pointer-events: none;
  }
}

.slide-image{
  cursor: pointer;
}

p{
  font-size: $small;
  line-height: 1.3;
}


strong{
  font-weight: 600;
}

ul, li{
  font-size: $small;
}

a{
  color: inherit;
}

.content{
  width: 95%;
  margin: auto;
  display: block;
}

.collapsible{
  margin: 24px 0;
  .trigger{
    font-size: $medium;
    width: 100%;
    display: flex;
    white-space: nowrap;
    cursor: pointer;
    .line{
      width: 100%;
      border-bottom: 2px solid $red;
      margin-left: 14px;
    }
  }
  .collapsible-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 0;
    opacity: 0;
    overflow-y: hidden;
    transition: opacity 1s ease;
    .column{
      width: 45%;
      img{
        margin-top: 14px;
        width: 100%;
        height: 100%;
        max-height: 85vh;
        object-fit: cover;
      }
      margin-bottom: 48px;
    }
  }
  &.open{
    .collapsible-content{
      height: auto;
      opacity: 1;
    }
  }
}


.marquee {
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  position: fixed;
  top: 0px;
  width: 100vw;
  z-index: 888;
  font-size: $big;
  font-weight: 400;
  background-color: $grey;
  span {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 60s linear infinite;
  }
}

@keyframes marquee {
  0% {
    transform: translate(0%, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

footer{
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: auto;
  border-top: 2px solid $red;
  margin-top: 48px;
  p{
    font-size: $small;
    margin-top: 10px;
  }
}